body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    background-size: 100% auto;
}

.order-summary-card{
    width: 450px;
    height: 700px;
    border-radius: 30px;
    background-color: white;
    border: solid;
    display:grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: 
    "card-picture card-picture card-picture"
    ". card-title ."
    ". promotion-msg ."
    ". plan-options ."
    ". payment-btn ."
    ". cancel-btn .";
    overflow: hidden;
}

.card-image{
    grid-area: card-picture;
}

.card-title{
    grid-area: card-title;
    text-align: center;
    padding: 0 30px;
}

.promo{
    grid-area: promotion-msg;
    text-align: center;
    padding: 0 30px;
}

.plan-card{
    grid-area: plan-options;
}

.payment-btn{
    grid-area: payment-btn;
}

.cancel-btn{
    grid-area: cancel-btn;
}

@media (max-width:600px)
{
    body {
        background-image: url(./images/pattern-background-mobile.svg);
    }
}